
<!-- Image and text -->
<nav class="navbar navbar-light bg-dark">
  <h3 class="bg-black text-white text-center p-2">
    <span class="badge badge-pill badge-dark">AngularFS CRUD Operations</span>
  </h3>
</nav>

<div class="card mx-5 my-3">
  <div class="card-header large lead">
    Add User
  </div>
  <div class="card-body">
        <form (ngSubmit)= "onSubmit()">
            <div class="row">
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Name" [(ngModel)]= 'user.name' name="name">
                </div>
                <div class="col-sm-4">
                    <input type="email" class="form-control" placeholder="Email" [(ngModel)]= 'user.email' name="email">
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Phone" [(ngModel)]= 'user.phone' name="phone">
                </div>
            </div>
            <div class="row container-fluid px-5 mt-3">
                <input type="submit" value="ADD USER" class="btn btn-info form-control form-control-sm">
            </div>
        </form>
  </div>
</div>